@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Blog List Exel</h1>
<br />
<a href="/Admin/Blog/ExportDynamicExelBlogList" class="btn btn-primary">Exel Listesi İndir</a>